body {
	background-image: url(../img/back.jpg);
	background-size: cover;
}

header{
  width: 100%;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0,.5);
}

.contenedor__title /*IMPLEMENTAR METODOLOGIA BEM*/ {
  margin-left: 30px;
  font-size: 30px;
	color: #FFFFFF;
  font-family: 'Libre Baskerville', serif;
}

.contenedor-modal{
	background: rgba(0, 0, 0, 0.5);
	height: 100vh;
	left:0;
	position: fixed;
	top:0;
	width: 100%;
	z-index: 1000;
}

.mi-modal {
	align-content: center;
	align-items: center;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	display: flex;
 	flex-direction: column;
  font-size: 15px;
	margin: 50px auto;
	padding: 35px;
	position: relative;
	/* transition: transform 1s;
	transform: translateY(-50%); */
	width: 400px;
}



.mensaje-m{
	align-content: center;
	align-items: center;
	background-color: rgba(255, 0, 0, 0.6);
	color: #fff;
 	flex-direction: column;
  font-size: 15px;
	margin: 50px auto;
	padding: 35px;
	text-align: center;
	width: 500px;
}

.mensaje-b{
	align-content: center;
	align-items: center;
	background-color: rgba(50, 200, 50, 0.6);
	color: #fff;
 	flex-direction: column;
  font-size: 15px;
	margin: 50px auto;
	padding: 35px;
	text-align: center;
	width: 500px;
}

.button-accept{
  background-color: #444;
	border: none;
	color: #fff;
  margin: 6px 0;
	padding: 7px;
	width: 100%;
}

.button-accept:hover {
  background-color: #fff;
	color: #444;
}

.button-accept:focus{
	background: linear-gradient(to bottom, transparent, #444);
	color: #fff;
  outline: none;
}

.button-cancel{
  background-color: #FF0000;
  border: none;
  color: #FFFFFF;
  margin: 6px 0;
	padding: 7px;
	width: 100%;
}

.button-cancel:hover {
  background-color: #fff;
	color: #ff0000;
}

.button-cancel:focus{
	background: linear-gradient(to bottom, transparent, #ff0000);
	color: #fff;
  outline: none;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.button-red{
	align-items: center;
	background-color: #FF3333;
	color: #FFFFFF;
	display: inline-block;
	padding: 5px 25px;
	text-align: center;
	text-decoration: none;
}

.button-red:hover {
	background-color: #fff;
	color: #FF3333;
	cursor: pointer;
  transition: all 250ms ease;
}

.button-blue{
	align-items: center;
	background-color: #3498DB;
	color: #FFFFFF;
	display: inline-block;
	padding: 5px 25px;
	text-align: center;
	text-decoration: none;
}

.button-blue:hover {
	background-color: #FFFFFF;
	color: #3498db;
	cursor: pointer;
}

.button-green{
	align-items: center;
	background-color: #00BB44;
  color: #FFFFFF;
	display: inline-block;
  padding: 5px 25px;
	text-align: center;
	text-decoration: none;
}

.button-green:hover {
	background-color: #FFFFFF;
	color: #00DD66;
  cursor: pointer;
	transition: all 250ms ease;
}

.button-grey{
	background-color: #444444;
  color: #FFFFFF;
  margin-left: 5px;
	padding: 3px;
}

.button-grey:hover {
	background-color: #fff;
	color: #444;
  transition: all 250ms ease;
}

.button-grey:focus{
  background: linear-gradient(to bottom, #aaa, #111);
	color: #fff;
	outline: none;
}
