body {
	background-image: url(../img/back.jpg);
	background-size: cover;
}

header{
  width: 100%;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0,.5);
}

.contenedor__title /*IMPLEMENTAR METODOLOGIA BEM*/ {
  margin-left: 30px;
  font-size: 30px;
	color: #FFFFFF;
  font-family: 'Libre Baskerville', serif;
}

.ventana {
  background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	color: #fff;
	padding: 35px;
	width: 400px;
	margin: 50px auto;
 	flex-direction: column;
 	align-items: center;
  align-content: center;
  font-size: 15px;
}

.mensaje-m{
	background-color: rgba(255, 0, 0, 0.6);
	text-align: center;
	color: #fff;
	padding: 35px;
	width: 500px;
	margin: 50px auto;
 	flex-direction: column;
 	align-items: center;
  align-content: center;
  font-size: 15px;
}

.mensaje-b{
	background-color: rgba(50, 200, 50, 0.6);
	text-align: center;
	color: #fff;
	padding: 35px;
	width: 500px;
	margin: 50px auto;
 	flex-direction: column;
 	align-items: center;
  align-content: center;
  font-size: 15px;
}

.button-accept{
  width: 100%;
  padding: 7px;
  margin: 6px 0;
  border: none;
  color: #fff;
  background-color: #444;
}

.button-accept:hover {
  background-color: #fff;
	color: #444;
}

.button-accept:focus{
	color: #fff;
	background: linear-gradient(to bottom, transparent, #444);
  outline: none;
}

a:link, a:visited, a:active {
    text-decoration:none;
}
.button-red{
  color: #fff;
  background-color: #f33;
  padding: 3px;
  border: .5px solid #f33;
}

.button-red:hover {
  color: #f33;
  background-color: #fff;
  border: .5px solid #f33;
  transition: all 250ms ease;
}


.button-red:focus{
  background: linear-gradient(to bottom, #faa, #b00);
  outline: none;
  color: #fff;
}

.button-blue{
  color: #fff;
  background-color: #3498db;
  padding: 3px;
  border: .5px solid #3498db;
	margin-right: 5px;
}

.button-blue:hover {
  color: #3498db;
  background-color: #fff;
  border: .5px solid #3498db;
  transition: all 250ms ease;
}

.button-blue:focus{
  background: linear-gradient(to bottom, #aed6f1, #2874a6);
  outline: none;
  color: #fff;
}

.button-green{
  color: #fff;
  background-color: #1abc9c;
  padding: 5px;
}

.button-green:hover {
  color: #1abc9c;
  background-color: #fff;
  transition: all 500ms ease;
}

.button-green:focus{
  background: linear-gradient(to bottom, #a3e4d7,  #117864);
  outline: none;
  color: #fff;
}

.button-grey{
  color: #fff;
  background-color: #444;
  padding: 3px;
  border: .5px solid #444;
  margin-left: 5px;
}

.button-grey:hover {
	color: #444;
  background-color: #fff;
  border: .5px solid #444;
  transition: all 250ms ease;
}

.button-grey:focus{
  background: linear-gradient(to bottom, #aaa, #111);
  outline: none;
  color: #fff;
}
